body {
  background-color: black;
  font-family: "Lato", sans-serif;
  margin: 0;
}

/*LAS MALDITAS CARDS*/
.card-img1 {
  width: 200px;
  height: 280px;
  background-color: white;
  border-radius: 3px;
  margin: 20px;
}

.img001 {
  height: 200px;
  width: 200px;
}

.img001 img {
  width: 100%;
}

.card-cont001 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}

.product-name {
  width: 140px;
  padding-left: 5px;
  margin-top: 5px;
}

.price {
  width: 50px;
  margin-top: 5px;
  padding-right: 5px;
}

#main-section {
  background-image: url(../imgs/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.title {
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
  font-weight: 900;
}

.title h2 {
  margin: 10px;
}

.cols {
  height: 300px;
  font-size: 24px;
  color: white;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.col-left {
  width: 25%;
  background-color: rgba(0, 0, 0, 0.514);
}

.col-left p {
  font-weight: 800;
  padding: 10px;
  padding-top: 50px;
  line-height: 40px;
}

.col-left span {
  color: #007bff;
}

.col-center {
  width: 45%;
  margin-top: 0;
}

.col-center p {
  margin: 0;
  font-style: italic;
  font-weight: 500;
}

.col-right {
  width: 25%;
  padding-top: 45px;
}

.col-right p {
  padding: 20px;
  font-style: italic;
}

header {
  background-color: #000000;
  color: white;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.noxu {
  font-size: 30px;
  text-decoration: none;
  margin-left: 20px;
  width: 90%;
}

.noxu a {
  color: white;
  text-decoration: none;
  font-weight: 900;
}

.icono-menu {
  border: 0.5px solid #cac2c2;
  border-radius: 2px;
  height: 30px;
  width: 30px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
}

#menu {
  visibility: hidden;
}

.fa-bars {
  font-size: 30px;
}

.home {
  color: white;
  font-size: 25px;
}

.list {
  color: gray;
  font-size: 25px;
  display: none;
}

#menu:checked + .list {
  display: block;
}

#section-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*boton*/
.view-all {
  border: 1px solid white;
  border-radius: 3px;
  height: 60px;
  width: 120px;
  margin: 40px;
  display: inline-block;
}

.text-view {
  font-size: 20px;
  line-height: 60px;
  color: white;
  margin: 0;
  padding-left: 25px;
}

/*h2 de featured products*/
.featured-products {
  color: white;
  font-size: 35px;
  margin: 30px;
  padding-left: 85px;
}

#browse-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.titulo-browse-items {
  color: white;
  font-size: 35px;
  line-height: 1.5;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-browse-items {
  height: 150px;
  width: 100%;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}

.shoes-box {
  width: 250px;
  height: 250px;
  background-image: url(../imgs/shoes.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.jeans-box {
  width: 250px;
  height: 360px;
  background-image: url(../imgs/jeans.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.shirts-box {
  width: 250px;
  height: 360px;
  background-image: url(../imgs/shirts.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.outfits-box {
  width: 250px;
  height: 600px;
  background-image: url(../imgs/outfits.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px;
}

.textbox {
  color: white;
  font-size: 25px;
  text-align: center;
}

/*POR FIN EL FOOTER*/
footer {
  background-color: rgba(121, 115, 115, 0.5);
  height: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.know-us, .contact, .feedback, .programador {
  color: white;
}

.know-us {
  font-size: 35px;
  height: 100px;
  width: 200px;
  margin-top: 80px;
  margin-left: 90px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cac2c2;
}

.subtitulos {
  font-size: 28px;
  margin-bottom: 15px;
}

.negrita {
  font-size: 17px;
  font-weight: 900;
  margin-top: 10px;
}

.contact p {
  font-size: 15px;
  margin: 5px;
  width: calc(50%-5px);
  height: 20px;
}

.feedback p {
  font-size: 15px;
  line-height: 20px;
  margin: 15px;
  width: calc(50%-15px);
  height: 40px;
}

.survey {
  color: white;
  font-size: 15px;
  width: 100px;
  height: 40px;
  background-color: #00000000;
  border: 1px solid white;
  border-radius: 3px;
  margin: 30px;
}

.links a {
  color: #007bff;
  text-decoration: none;
  height: 40px;
  margin: 0;
}

.mapa {
  width: 300px;
  height: 200px;
  margin-left: 35px;
}

.mapa img {
  width: 300px;
  height: 200px;
}

.programador {
  line-height: 30px;
  margin: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.programador a {
  color: #007bff;
}

.fa-instagram {
  color: #007bff;
  font-size: 50px;
}

/*# sourceMappingURL=web.css.map */

/*# sourceMappingURL=web.css.map */
