@import '../common/variables';

#main-section {
    background-image: url(../imgs/hero-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
  }

.titles {
    color: $blanco;
    text-align: center;
    margin: 0;
    margin-bottom: 0;
}

.titulo {
    padding-top: 20px;
    margin:0;
    font-size: 32px;
}

.subtitulo {
    margin-top: 15px;
    font-size: 24px;
    font-style: italic;
}
