@import '../common/variables';

header {
    background-color: #000000;
    color: $blanco;
    height:75px;
    display: flex;
    margin: 0;
}

.noxu {
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    width:70%;
    a {
        color: $blanco;
        text-decoration: none;
        font-weight: 900;
    }
}

.icono-menu {
    border: 0.5px solid  rgb(202, 194, 194);
    border-radius: 2px;
    height: 30px;
    width: 30px;
    margin-top:20px;
    padding: 5px;
    text-align: center;
}

#menu {
        visibility: hidden;
}



.fa-bars {
    font-size: 30px;
}

.home {
    color: $blanco;
    font-size: 25px;
}

.list {
    color: gray;
    font-size: 25px;
    display:none;
}

#menu {
    &:checked {
        + .list {display:block;}
     }
}
