@import '../common/variables';

header {
    background-color: #000000;
    color: $blanco;
    height:75px;
    display: flex;
    margin: 0;
}

.noxu {
    color: $blanco;
    font-size: 30px;
    text-decoration: none;
}

.icono-menu {
    border: 0.5px solid gray;
    border-radius: 2px;
    height: 30px;
    width: 40px;
}

.fa-bars {
    font-size: 30px;
}

.home {
    color: $blanco;
    font-size: 25px;
}

.list {
    color: gray;
    font-size: 25px;
    display:none;
}

#menu {
    &:checked {
        + .list {display:block;}
     }
}
