@import '../common/variables';

#section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*boton*/ 

.view-all {
    height: 100px;
    width:100%;
    padding: 5%, 40%;
    
    p{  
        color: $blanco;
        font-weight: 800;
        line-height: 60px;
        height: 60px;
        width: 120px;
        border: 1px solid $blanco;
        border-radius: 3px;
        text-align: center;
    }
}

.text-view {
    font-size: 20px;
    line-height: 60px;
    color: $blanco;
}

/*h2 de featured products*/

.featured-products {
    color: $blanco;
    font-size: 35px;
    width: 100%;

}
